#header-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#header-div h2 {
    margin: .5rem 2rem .5rem 2rem;
}

#header-div h4 {
    margin: 1rem 2rem 1rem 2rem;
}

#space-pic {
    width: 100%;
    height: auto;
    position: relative;
}

#hello-div {
    width: 100%;
    position: absolute;
    color: rgb(0, 37, 94);
    top: 5rem;
    background-color: #ffffff69;
    display: flex;
    justify-content: center;
}